# Ignore all Markdown files
*.txt

# Ignore specific files
.env

# Ignore Node.js modules directory
backend/node_modules/
frontend/node_modules/
node_modules/

backend/analysis_results.json
backend/analysis_results.md

analysis_results.json
analysis_results.md

# Ignore .bolt file
.bolt

backend/temp_analysis*.json